.nav-bar {
    background: #343a40;
}

.button {
    position: relative;
    background-color: #343a40;
    color: #EA2027;
    border: none;
    font-size: 20px;
    padding: 0px 10px;
    margin: 0px 10px;
    height: 30px;
    text-align: center;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.1s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #EA2027;
    border-radius: 5px;
    
  }

  .button:hover {
      text-decoration: none;
      background-color: #EA2027;
      color: #343a40;
  }
  
  .button:after {
    content: "";
    background: #fff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.5s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  .login-btn {
    margin: 2px;
    background-color: #fa8231;
    color: #fff;
    border: 2px #fa8231
  }

  .login-btn:hover {
    background-color: #343a40;
    color: #fa8231;
    border: 2px solid #fa8231;
    border-radius: 5px
  }

  .vl {
    height: 35px;
    width: 2px;
    background-color: #fff;
  }

 